[submodule "IndiaCP"]
	path = IndiaCP
	url = https://github.com/nilavghosh/IndiaCP/
[submodule "IndiaCP_DocSign"]
	path = IndiaCP_DocSign
	url = https://github.com/nilavghosh/IndiaCP_DocSign
[submodule "IndiaCP_Ethereum"]
	path = IndiaCP_Ethereum
	url = https://github.com/nilavghosh/IndiaCP_Ethereum
[submodule "IndiaCP_Corda"]
	path = IndiaCP_Corda
	url = https://github.com/nilavghosh/IndiaCP_Corda
[submodule "IndiaCP_UI"]
	path = IndiaCP_UI
	url = https://github.com/nilavghosh/IndiaCP_UI
