<div class="container-fluid ng-scope">
        <h1>Generate ISIN Docs</h1>
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">ISIN Generation Fields</h3>
                    </div>
                    <div class="panel-body">
                        <form class="bootstrap-form-with-validation ng-pristine ng-valid">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="text-input">Text Input</label>
                                <input class="form-control" type="text" name="text-input" id="text-input"><i class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></i>
                            </div>
                            <div class="form-group has-warning has-feedback">
                                <label class="control-label" for="password-input">Password Input</label>
                                <input class="form-control" type="password" name="password-input" id="password-input"><i class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></i>
                            </div>
                            <div class="form-group has-error has-feedback">
                                <label class="control-label" for="email-input">Email Input</label>
                                <input class="form-control" type="email" name="email-input" id="email-input"><i class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
                            </div>
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="textarea-input">Textarea </label>
                                <textarea class="form-control" name="textarea" id="textarea-input"></textarea><i class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></i>
                            </div>
                            <div class="form-group has-error has-feedback">
                                <label class="control-label" for="search-input">Search Input Group</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><span> <i class="glyphicon glyphicon-search"></i></span></div>
                                    <input class="form-control" type="search" name="search" id="search-input">
                                </div><i class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
                            </div>
                            <div class="form-group has-warning">
                                <label class="control-label" for="file-input">File Input</label>
                                <input type="file" name="file-input" id="file-input">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Static Fields Info</h3>
                    </div>
                    <div class="panel-body"></div>
                </div>
                <div class="well">
                    <div role="group" class="btn-group">
                        <button class="btn btn-default" ng-click="vm.generateDocument()" type="button">Sign </button>
                        <button class="btn btn-default" type="button">Save </button>
                        <button class="btn btn-default" type="button">Edit </button>
                        <button class="btn btn-default" ng-click="vm.cancel()" type="button">Cancel </button>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">ISIN Document</h3>
                    </div>
                    <div class="panel-body">
                        <iframe id="dynamicIframe" ng-src={{vm.isinDocPDF}} scrolling="auto" width="100%" height="750px" type="application/pdf"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>