<div class="container">
    <div class="form-group">
        <h1>Create CP Program</h1></div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label class="control-label">Issuer </label>
                    <input type="text" class="form-control input-sm" ng-model="vm.cpprogram.issuer_name" value="issuer1-UI" />
                </div>
                <div class="form-group">
                    <label class="control-label">Program Description</label>
                    <input type="text" class="form-control input-sm" ng-model="vm.cpprogram.purpose" /></input>
                </div>
                <div class="form-group">
                    <label class="control-label">CP Program ID</label>
                    <input type="text" class="form-control input-sm" /></input>
                </div>
                <div class="form-group">
                    <label class="control-label">Type </label>
                    <input type="text" ng-model="vm.cpprogram.type" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Purpose </label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Allotment Date</label>
                    <input type="date" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="vm.createCPProgram()" type="button">Create </button>
                        <button class="btn btn-default" type="button">Cancel </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label class="control-label">Maturity Date</label>
                    <input type="date" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label class="control-label">Program Value</label>
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label class="control-label">Currency </label>
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label class="control-label">IPA Name</label>
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label class="control-label">Depository Name</label>
                    <input type="text" class="form-control input-sm" />
                </div>
            </form>
        </div>
    </div>
</div>