<div class="container">
    <div class="form-group">
        <h1>Upload Docs for Barclays Investments and Loans (India) Ltd</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.uploadBRDoc()" type="button">Upload BR Docs </button>
                        <button class="btn btn-primary" ng-click="vm.uploadCRDoc()" type="button">Upload CR Docs </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>