<div class="container">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h1>Edit CP Program</h1></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Program Description</label>
                    <input class="form-control input-sm" ng-model="vm.cpprogram.type" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Type </label>
                    <input class="form-control" type="text" ng-model="vm.cpprogram.type" />
                </div>
                <div class="form-group">
                    <label class="control-label">Allotment Date</label>
                    <input class="form-control input-sm" type="date" ng-model="vm.cpprogram.maturityDate" />
                </div>
                <div class="form-group">
                    <label class="control-label">Program Value</label>
                    <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.programAllocatedValue.quantity" />
                </div>
                <div class="form-group">
                    <label class="control-label">IPA Name</label>
                    <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.ipaName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Depository Name</label>
                    <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.depositoryName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Issuer </label>
                    <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.issuerName" />
                </div>
                <div class="form-group">
                    <label class="control-label">CP Program ID</label>
                    <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.programId" />
                </div>
                <div class="form-group">
                    <label class="control-label">Purpose </label>
                    <input class="form-control" type="text" ng-model="vm.cpprogram.purpose"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Maturity Date</label>
                    <input class="form-control input-sm" type="date"  ng-model="vm.cpprogram.maturityDate" />
                </div>
                <div class="form-group">
                    <label class="control-label">Currency </label>
                    <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.programCurrency" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Associated Documents</h3></div>
                        <div class="panel-body">
                            <form id="Doc-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">Depository Letter</label><a href="#" class="col-sm-9 form-horizontal">Download </a></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">IPA verification documents</label><a href="#" class="col-sm-9 form-horizontal">Download </a></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">IPA Certificate</label><a href="#" class="col-sm-9">Download </a></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">Corporate action form</label><a href="#" class="col-sm-9">Download </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-default" type="button">Update </button>
                        <button class="btn btn-default" ng-click="vm.cancel()" type="button">Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>