<div class="container">
    <p> </p>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Details </a></li>
            <li><a href="#tab-2" role="tab" data-toggle="tab">Transaction History</a></li>
            <li><a href="#tab-3" role="tab" data-toggle="tab">CP Issues</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h1>CP Program Details</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Program Description</label>
                                <input class="form-control input-sm" ng-model="vm.cpprogram.type" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Type </label>
                                <input class="form-control" type="text" ng-model="vm.cpprogram.type" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Allotment Date</label>
                                <input class="form-control input-sm" type="text" disabled ng-value="vm.cpprogram.issueCommencementDate | date:'dd-MM-yyyy'"
                                />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Program Value</label>
                                <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.programSize" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">IPA Name</label>
                                <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.ipaName" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Depository Name</label>
                                <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.depositoryName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Issuer </label>
                                <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.issuerName" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">CP Program ID</label>
                                <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.programId" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Purpose </label>
                                <input class="form-control" type="text" ng-model="vm.cpprogram.purpose" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Maturity Date</label>
                                <input class="form-control input-sm" type="text" disabled ng-value="vm.cpprogramMaturityDate | date:'dd-MM-yyyy'" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Currency </label>
                                <input class="form-control input-sm" type="text" ng-model="vm.cpprogram.programCurrency" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Associated Documents</h3>
                                    </div>
                                    <div class="panel-body">
                                        <form id="Doc-form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3">Depository Letter : </label>
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</button>
                                                                
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs col-sm-offset-1" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> History
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3">IPA verification documents : </label>
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</button>
                                                                
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs col-sm-offset-1" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> History
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3">IPA Certificate : </label>
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</button>
                                                                
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs col-sm-offset-1" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> History
                                                                </button>
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3">Corporate action form : </label>
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</button>
                                                                
                                                                <button type="button" class="btn btn-primary col-sm-1 btn-xs col-sm-offset-1" aria-label="Left Align">
                                                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> History
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="button">Update </button>
                                    <button class="btn btn-primary" ng-click="vm.cancel()" type="button">Cancel </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-2">
                <div class="container">
                    <div class="form-group">
                        <h1>Transaction History : {{vm.cpprogram.name}}</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Version</th>
                                                <th>Node </th>
                                                <th>Status </th>
                                                <th>Action </th>
                                                <th>Modified By</th>
                                                <th>Modified Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="trandetail in vm.transactionHistory">
                                                <td>{{trandetail.version}}</td>
                                                <td> </td>
                                                <td>{{trandetail.status}}</td>
                                                <td> </td>
                                                <td> </td>
                                                <td>{{trandetail.lastModifiedDate | date:'dd-MM-yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <button class="btn btn-default" type="button">Close </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div role="tabpanel" class="tab-pane" id="tab-3">
                <p>Third tab content.</p>
            </div>
        </div>
    </div>
</div>